.spinner {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  stroke: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner--visible {
  opacity: 1;
  visibility: visible;
}

.navigation {
  width: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.helpButton {
  position: absolute;
  top: 10px;
  left: 12px;
}
