.container {
  color: white;
  padding: 20px;
  height: calc(var(--modal-content-height) + var(--modal-banner-height));
  overflow-y: scroll;
  background-color: black;
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  top: 100px;
  right: 20px;

  will-change: transform;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  transition: transform 0.5s;
  padding: 0;
}

.closeButton:hover {
  transform: scale(1.1);
}

.closeButton:focus {
  transform: scale(1.1);
}

.exampleImage {
  margin-left: 20px;
}

.scrollGradient {
  background: linear-gradient(#4260a5 33%, rgba(66, 96, 165, 0)),
    linear-gradient(rgba(66, 96, 165, 0), #4260a5 66%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(34, 34, 34, 0.5),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(34, 34, 34, 0.5),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-color: #4260a5;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;
}
