.iconButton {
  display: flex;
  cursor: pointer;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: inherit;
  background: none;
  transition: 0.5s;
}

.zoomOnHover:hover {
  transform: scale(1.1);
}

.disabled {
  opacity: 0.4;
}
