.IconButton {
  display: flex;
  cursor: pointer;
  padding: 0;
  opacity: 0.4;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: inherit;
  background: none;
  transition: 0.5s;
}

.IconButton:hover,
.IconButton:focus {
  opacity: 1;
}

.zoomOnHover:hover {
  transform: scale(1.1);
}
