:root {
  --modal-banner-height: 50px;
  --modal-content-height: 460px;
}

@media screen and (min-width: 576px) {
  :root {
    --modal-content-height: 500px;
  }
}

@media screen and (min-width: 992px) {
  :root {
    --modal-content-height: 600px;
  }
}
